#home-container {
    width: 100vw;
    min-height: 100vh;
    color: #FFFFFF;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

#home-inner-container {
    margin-top: 2vh;
    width: 100%;
    height: calc(100vh - 5vh);
    overflow-y: scroll;
}

#homepage-container {
    width: 100vw;
    min-height: 100vh;
    color: #FFFFFF;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

#homepage-inner-container h1 {
    color: #FFFFFF;
}

#homepage-inner-container {
    margin-top: 2vh;
    width: 100%;
    height: calc(100vh - 5vh);
    overflow-y: scroll;
}

#homepage-link a{
    color: #FFFFFF;
}

#homepage-text-container {
    width: 70%;
    margin: auto;
    font-size: larger;
}