h1 {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-photos-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.search-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 calc(33.33% - 1rem);
    width: calc(33.33% - 1rem);
    background-color: white;
    margin-bottom: 50px;
}

.search-photo-container>img {
    width: 100%;
    max-height: 200px;
    height: auto;
}

.search-photo-container>p {
    margin: 0.5rem 0 0;
    text-align: center;
    font-size: 0.8rem;
    color: black;
}

@media (max-width: 768px) {
    .search-photo-container {
        flex: 1 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .search-photo-container {
        flex: 1 0 100%;
        max-width: 100%;
    }
}