#images-page-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
}

h1 {
    font-weight: bold;
    color: black;
    font-size: 50px;
    margin-top: 5vh;
    margin-bottom: 40px;
    padding-top: 40px;
}


.search-photos-container {
    margin: 0 auto;
}

.search-photos-group-container {
    /* width: 100%; */
    /* margin: auto; */
    display: flex;
    flex-grow: 1;
    /* border: 2px solid black; */
}

.search-photos-group-inner-right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.image-one {
    width: 600px;
    height: 600px;
    padding: 10px;
    cursor: pointer;
}

.image-two,
.image-three,
.image-four,
.image-five {
    width: 290px;
    height: 290px;
    padding: 10px;
    cursor: pointer;
}

.image-one img,
.image-two img,
.image-three img,
.image-four img,
.image-five img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-right-top {
    display: flex;
    flex-direction: row;
}

.images-right-bottom {
    display: flex;
    flex-direction: row;
}





.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay p {
    padding-top: 30px;
    color: #FFFFFF;
    width: 70%;
    margin: auto;
}

.image-overlay img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.image-overlay button {
    position: absolute;
    top: 20px;
    right: 20px;
}

#close-overlay-button {
    background-color: #FFFFFF;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}