#navbar-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0;
}

#navbar-links-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: aqua; */
}

#navbar-dropdowns-container {
    width: fill;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: pink; */
}

#navbar-dropdowns-container>div {
    flex: 1;
    min-width: 0;
}

#navbar-container a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#navbar-container p {
    text-decoration: none;
    color: black;
    font-weight: 600;
}