#nav-dropdown-element-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 5vh;
    margin: none;
    /* background-color: pink; */
    color: black;
}

.nav-dropdown-element-text {
    margin: 0;
}

#nav-dropdown-element-container {
    position: relative;
    display: inline-block;
}

#nav-dropdown-element-container h4 {
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
}

#nav-dropdown-links-container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    padding: 0.5rem;
    background-color: #FFFFFF;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#nav-dropdown-element-container:hover #nav-dropdown-links-container {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}
@keyframes dropDown {
    0%{
        top: 0%;
        height: 1px;
    }
    100%{
        top: 100%;
    }
}

#nav-dropdown-links-container a {
    display: block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
}

#nav-dropdown-links-container a:hover {
    background-color: #FFFFFF;
}